<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
  <li class="nav-item active">
  <a class="nav-link" [routerLink] = "['']" routerLinkActive = "active">Home</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" [routerLink] = "['login']" routerLinkActive = "active">Login</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" [routerLink] = "['register']" routerLinkActive = "active" >Register</a>
  </li>
  </ul>
  </div>
  </nav>
<div class = 'row m-0 w-100'>
  <div class = 'col-md-4 offset-4 mt-5' *ngIf = '!this.isLogin'>
  <h4>Login</h4>
  <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
  <div class = 'form-group'>
  <input class = 'form-control' type = "text" name = "username" placeholder = "Username" ngModel>
  </div>
  <div class = 'form-group'>
  <input class = 'form-control' type = "password" name = "password" placeholder = "Password" ngModel>
  </div>
  <input class= 'btn btn-outline-info' routerLink='/todo' type = "submit" value = "Login">
  </form>
  </div>
  <div class = 'col-md-4 offset-4 mt-5' *ngIf = 'this.isLogin'>
  <h1>You are logged in</h1>
  <button class = 'btn btn-outline-info' (click) = 'logout()'>Log-out</button>
  </div>
  </div>
